body {
    background-color: rgb(2, 0, 36);
    background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color: white;
}

.github-corner {
    height: 15vh;
    width: 15vh;
    color: rgb(2, 0, 36);
    fill: rgb(0, 213, 255);
    position: absolute;
    top: 0;
    border: 0;
    left: 0;
    transform: scale(-1, 1);
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

    0%,
    100% {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-25deg)
    }

    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

header {
    margin: 10vh;
    display: flex;
    align-items: center;
}

#how-many {
    margin-left: 1vw;
    padding: 0.5vh 0;
    width: 5vw;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 94vw;
}

.counter {
    height: 50vh;
    display: flex;
    flex-direction: column;
}

.title {
    border-radius: 1vw 1vw 0 0;
    width: 28vh;
    border: none;
    padding: 2vh 1vh;
    color: black;
    font-size: x-large;
}

.title::placeholder {
    color: black;
}

.number {
    height: 30vh;
    width: 30vh;
    color: black;
    font-size: 16vh;
    border: none;
    padding: 0;
    text-align: center;
}

.button {
    background-color: lightgray;
    user-select: none;
    margin: 0;
}

.button:hover {
    background-color: gray;
}

.plus-minus {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

.plus-minus .button {
    color: black;
    font-size: 5vh;
}

.plus-minus :nth-child(1) {
    border-bottom-left-radius: 1vw;
}

.plus-minus :nth-child(2) {
    border-bottom-right-radius: 1vw;
}