body {
    background-color: rgb(2, 0, 36);
    background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color: white;
    margin: 0;
}

.github-corner {
    height: 15vh;
    width: 15vh;
    color: rgb(2, 0, 36);
    fill: rgb(0, 213, 255);
    position: absolute;
    top: 0;
    border: 0;
    left: 0;
    transform: scale(-1, 1);
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

    0%,
    100% {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-25deg)
    }

    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

#container {
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 0;
    width: 80vw;
    margin-left: 10vw;
}

.counter {
    color: black;
    margin: 0 6vh 6vh 6vh;
    width: min-content;
    min-width: 30vh;
}

.toprow {
    display: flex;
}

.title {
    width: calc(100% - 11vh);
    height: 6vh;
    border-top-left-radius: 1vw;
    border: none;
    padding: 2vh 0 2vh 1vh;
    font-size: x-large;
    background-color: lightgray;
}

.title::placeholder {
    color: black;
}

.x {
    width: 10vh;
    height: 6vh;
    border-top-right-radius: 1vw;
    border: none;
    padding: 2vh 0;
    font-size: 5vh;
    text-align: center;
}

.x:hover {
    background-color: #c24343 !important;
}

.number {
    height: 20vh;
    font-size: 16vh;
    border: none;
    padding: 5vh 0;
    background-color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    background-color: lightgray;
    user-select: none;
    margin: 0;
}

.button:hover {
    background-color: gray;
}

.plus-minus .button {
    width: 50%;
    text-align: center;
    font-size: 5vh;
    display: inline-block;
}

.plus-minus :nth-child(1) {
    border-bottom-left-radius: 1vw;
}

.plus-minus :nth-child(2) {
    border-bottom-right-radius: 1vw;
}

.add {
    display: block;
    background-color: white;
    width: 30vh;
    border-radius: 1vw;
    padding: 6vh 0;
    font-size: 30vh;
    color: black;
    text-align: center;
    margin: 0 6vh 6vh 6vh;
}